@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Merriweather:wght@300&family=Poppins:ital,wght@1,300&display=swap');


.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif; 
}
.Home h1{
  color:#ffc107;
  font-style: oblique;
}

.button {
  background: #fff;
  border: 0.1rem solid #ffc107;
  color: #ffc107;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0.6rem 0.7rem;
  
  
}
.button:hover {
  background: #ffc107;
  color: rgb(0, 0, 0);
}

