

.NotFound {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    flex-direction: column; 
}

.container h1 {
  color: white;
  text-shadow: 0 0 5px rgb(37, 37, 37);
}

.button {
  color: rgb(133, 131, 131) ;
  border-color: white ;
}
.p{
  color: red;
}
