@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Merriweather:wght@300&family=Poppins:ital,wght@1,300&display=swap');


  
.container_cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.Product h2{
  font-size: 0.6rem;
  
}
.Product h1{
  font-size: 2.0rem;
  
}
.item {

  margin: 5px;
	border: 0;
	width: 15%;
	height: 15%;

}

.card {
	margin-bottom: 1.2em;	
 
}

.card_content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
 
}
.card_content p {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif; 
}


.card {
	flex: 0 1 24%;
}

p{
  font-family: 'Poppins', sans-serif; 
}


