.flex_block_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 47, 47);
    padding:0.7rem;
    margin:0.5rem;
    border-radius: 0.5rem;
    
}
.card {
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.3);
  margin: .75rem 0 1.5rem;
  position: relative;
  max-width: 35rem;
}
.card_body {
  padding: 2rem;
  text-align: center;
}
.card_imag_grid{
              display:grid;
              grid-gap:1rem 3rem;
              grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
              justify-items: center;
}
.img {
  border-radius: .4rem;
  max-width: 15rem;
  
}
.btn_primary {
  background: #f8ff3c;
  border: 2px solid ;
  border-radius: 4rem;
  color: rgb(2, 2, 2);
}
.btn_primary:hover{
  background: #9ea302;
}
.button{
    font-size: 0.9rem;
    font-weight:lighter;
    font-family:'Poppins';
    padding: 0.1rem;
    margin: 0.1rem;
    border: 0.1rem #000000 transparent;
    background-color:rgba(200, 250, 126, 0.625);
    width: 90%;
    cursor: pointer;
}
.button:hover{
    background-color:rgba(0, 128, 0, 0.674);
}
.button_add{
    background-color:rgb(0, 0, 255);
    width: 1.5rem;
   
}
.button_remove{
    background-color:rgb(255, 0, 0);
    width: 1.5rem;
   
}
.button_badge{
    background-color:rgb(255, 0, 0);
    border:none;
    width: 1.5rem;
    
}
.text_right{
    text-align: right;
}
