@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Merriweather:wght@300&family=Poppins:ital,wght@1,300&display=swap');

.ShopCart {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}
p{
  font-family: 'Poppins', sans-serif; 
}
.button {
  color: rgb(66, 65, 65);
  border-color: rgb(65, 64, 64);
}

