.navbar{
    background-color: rgb(48, 47, 47);
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.navbar_img{
    background-color: rgb(48, 47, 47);
    margin-left: 40px;
	width: auto;
	height: 30px;
}
.menu_bars{
    margin-left: 2rem;
    margin-top: 0.8rem;
    font-size: 2rem;
    background: none;
}

.nav_menu{
    background: rgb(48, 47, 47);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .85s;
}

.nav_menu.active{
    left: 0;
    transition: .35s;
}

.nav_text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px    16px;
    list-style: none;
    height: 60px;
    
}
.nav_text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav_text a:hover{
    background: #f05b07;
}
.nav_menu_items{
    width: 100%;
}
.navbar_toggle{
    background: #ffc107;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.span{
    margin-left: 16px;
}
.p{
    color:#ffc107;
    height: 2rem;
    font-size: 28px;
    margin-left: 20px;
    font-weight: bold;
    
}
.login_block{
    align-items: center;
    margin-left: 16px;
    font-size: 20px;
}


